<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layoutMenu.html">
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> Edit Styles </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-info" href="#" th:href="@{/styles/all}"> Back to All Styles </a>
                <form action="#" class="form-horizontal"
                      th:action="@{/styles/save}"
                      th:object="${form}"
                      method="post">
                    <fieldset>
                        <span class="pull-right">
                                <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
                                <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
                        </span>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th> Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="style, itemStat : ${form.styles}">
                                <td><input hidden th:name="|styles[${itemStat.index}].id|" th:value="${style.getId()}"/></td>
                                <td><input th:placeholder="Name + ' ' + ${itemStat.count}" th:name="|styles[${itemStat.index}].name|" th:value="${style.getName()}"
                                           required/></td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</html>