<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>Musify</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
        <meta property="og:title" content="">
        <meta property="og:image" content="">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="">
        <meta property="og:description" content="">

        <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        <!-- Fav and touch icons -->
        <link rel="shortcut icon" th:href="@{/img/icons/favicon.png}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/img/icons/114x114.png}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/img/icons/72x72.png}">
        <link rel="apple-touch-icon-precomposed" th:href="@{/img/icons/default.png}">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
        <link th:href="@{/lib/owlcarousel/owl.carousel.min.css}" rel="stylesheet">
        <link th:href="@{/lib/owlcarousel/owl.theme.min.css}" rel="stylesheet">
        <link th:href="@{/lib/owlcarousel/owl.transitions.min.css}" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link th:href="@{/css/style.css}" rel="stylesheet">

        <!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
        <link th:href="@{#}" id="colour-scheme" rel="stylesheet">
    </head>
    <body class="fullscreen-centered page-register">
        <!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
        <div id="background-wrapper" class="benches" data-stellar-background-ratio="0.8">
            <div layout:fragment="content"></div>
            <!-- Required JavaScript Libraries -->
            <script th:src="@{/lib/jquery/jquery.min.js}"></script>
            <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
            <script th:src="@{/lib/stellar/stellar.min.js}"></script>
            <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
            <script th:src="@{/lib/counterup/counterup.min.js}"></script>
            <script th:src="@{/contactform/contactform.js}"></script>

            <!-- Template Specisifc Custom Javascript File -->
            <script th:src="@{/js/custom.js}"></script>

            <!--Custom scripts demo background & colour switcher - OPTIONAL -->
            <script th:src="@{/js/color-switcher.js}"></script>

            <!--Contactform script -->
            <script th:src="@{/contactform/contactform.js}"></script>
        </div>
    </body>
</html>