<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout.html">
<div layout:fragment="content">
  <div class="header">
    <div class="header-inner">
      <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
                <a class="navbar-brand" th:href="@{/home}" title="Home">
                    <h1 class="hidden">
                        <img th:src="@{/img/play-music.png}" alt="Music Logo">
                        Music Collection
                    </h1>
                </a>
                <div class="navbar-slogan">
                    Musify
                    <br> Music Collection
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
              Sign Up
            </h3>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="Username">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="checkbox">
                <label>
                    <input name="remember" type="checkbox" value="Terms">
                    I agree to the <a href="#">terms and conditions</a>.
                  </label>
              </div>
              <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Me Up">
            </fieldset>
          </form>
          <p class="m-b-0 m-t">Already signed up? <a href="login.html">Login here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
