<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layoutMenu.html">
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>  <span class="b" th:text="${artist.getName()}"></span> </h1>
                <h3>  <span class="b" th:text="${artist.getYears()}"></span> </h3>
                <h3>Styles : <span th:each="style : ${artist.styles}"> <span th:text="${style.name}"></span> </span></h3>
                <h3>Members : <span th:each="member : ${artist.members}"> <span th:text="${member.name}"></span> </span> </h3>
                <h3>Related : <span th:each="relatedArtist : ${artist.related}"> <span th:text="${relatedArtist.name}"></span> </span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-info" href="#" th:href="@{/artists/all}"> Back to All Artists </a>
            </div>
        </div>
    </div>
</div>
</html>