<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layoutMenu.html">
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> Edit Artist </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-info" href="#" th:href="@{/artists/all}"> Back to All Artists </a>
                <form action="#" class="form-horizontal"
                      th:action="@{/artists/save}"
                      th:object="${form}"
                      method="post">
                    <fieldset>
                        <span class="pull-right">
                                <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
                                <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
                        </span>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th> Name </th>
                                <th> Years </th>
                                <th> Styles </th>
                                <th> Members </th>
                                <th> Related </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="artist, itemStat : ${form.artists}">
                                <td><input hidden th:name="|artists[${itemStat.index}].id|" th:value="${artist.getId()}"/></td>
                                <td><input th:placeholder="Name + ' ' + ${itemStat.count}" th:field="*{artists[__${itemStat.index}__].name}" th:value="${artist.getName()}"/></td>
                                <td><input th:placeholder="Years + ' ' + ${itemStat.count}" th:field="*{artists[__${itemStat.index}__].years}" th:value="${artist.getYears()}"/></td>
                                <td>
                                    <select th:field="*{artists[__${itemStat.index}__].styles}" multiple="multiple">
                                        <option th:each="style : ${styles}"
                                                th:value="${{style}}"
                                                th:text="${style.name}">
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select th:field="*{artists[__${itemStat.index}__].members}" multiple="multiple">
                                        <option th:each="member : ${members}"
                                                th:value="${{member}}"
                                                th:text="${member.name}">
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select th:field="*{artists[__${itemStat.index}__].related}" multiple="multiple">
                                        <option th:each="relatedArtist : ${related}"
                                                th:if="${relatedArtist.name != artist.getName()}"
                                                th:value="${{relatedArtist}}"
                                                th:text="${relatedArtist.name}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
</div>
</html>